@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.mantine-Switch-thumb {
  @apply !bg-dark-light-dark !border-dark-light !w-4 !h-4;
}

input:checked + .mantine-1ey7u5d {
  @apply bg-secondary border-secondary;
}

input + .mantine-1ey7u5d {
  @apply bg-dark-light border-dark-light;
}

.mantine-ColorPicker-wrapper {
  @apply flex flex-col gap-1;
}
/* Scrollbar */

html {
  scrollbar-face-color: #646464;
  scrollbar-base-color: #646464;
  scrollbar-3dlight-color: #646464;
  scrollbar-highlight-color: #646464;
  scrollbar-track-color: #000;
  scrollbar-arrow-color: #000;
  scrollbar-shadow-color: #646464;
  scrollbar-dark-shadow-color: #646464;
}

::-webkit-scrollbar {
  width: 8px;
  height: 3px;
}
/* ::-webkit-scrollbar-button {
  background-color: #666;
} */
::-webkit-scrollbar-track {
  @apply bg-dark-gray/50 rounded-lg;
}
/* ::-webkit-scrollbar-track-piece {
  background-color: #000;
} */
::-webkit-scrollbar-thumb {
  @apply bg-dark p-1 rounded-lg border-2 border-white;
}
::-webkit-scrollbar-corner {
  background-color: #646464;
}
::-webkit-resizer {
  background-color: #666;
}
